

  <div class="container">
    <div class="screen">
      <div class="screen__content">
        <form class="login">
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input type="text" name="email" class="login__input" placeholder=" Email" [(ngModel)]="email">
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input type="password" name="password" class="login__input" placeholder="Password" [(ngModel)]="password">
          </div>
          <button class="button login__submit" (click)="Signinpage()">
            <span class="button__text">Log In Now</span>
            <i class="button__icon fa fa-chevron-right"></i>
          </button>		<br>
          <p class="message">Not registered? 
            <a href="signup">SignUp</a></p>		
        </form>
        <div class="social-login">
          <h3>log in via</h3>
          <div class="social-icons">
            <a href="#" class="social-login__icon fa fa-instagram"></a>
            <a href="#" class="social-login__icon fa fa-facebook"></a>
            <a href="#" class="social-login__icon fa fa-twitter"></a>
          </div>
        </div>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>		
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>		
    </div>
  </div>