<div class="slides slowFade">
  <div class="slide">
      <img src="../../../assets/images/20.jpg" alt="" height="100px" width="300px">
     
      </div>
  <div class="slide">
      <img src="../../../assets/images/w2.jpg" alt="" height="160px" width="200px">
      
  </div>
  <div class="slide">
      <img src="../../../assets/images/3.jpg" alt="" height="200px" width="200px">
      
  </div>
  <div class="slide">
      <img src="../../../assets/images/22.jpg" alt="" height="70px" width="1000px">
      
  </div>
</div><br><br><br>
 <!-- <h3>Main Events</h3><br><br> -->
 <marquee  class="b" width="60%" direction="right" height="100px">
 <h1> Main Events</h1>
  </marquee>


<div class="container text-center">
  <div class="row">
    <div class="col">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="../../../assets/images/dj7.jpg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>DJ</h1> 
      <br><br>
      <p>“Let everything happen to you
        Beauty and terror
        Just keep going
        No feeling is final”</p>
    </div>
  </div>
</div></div>
<div class="col">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../../assets/images/m15.jpg" alt="Avatar" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Music Shows</h1> 
      <br>
        <p>“One good thing about music, when it hits you, you feel no pain.Life is for the living.
          Death is for the dead.
          Let life be like music.
          And death a note unsaid.”</p>
      </div>
    </div>
  </div>
</div>

<div class="col">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../../assets/images/w8.jpg" alt="Avatar" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Wedding plans</h1> 
       <br>
        <p>Whether it’s your special day or you’re just celebrating along with everybody else, weddings are happy and wonderful events.

          Tears of joy.</p>
      </div>
    </div>
  </div>
</div>

<br><br>