<div class=" ">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
         <div class="col-lg-6">
          <h2 >About us </h2> 

         


          <p class="m">Event Hues is an Event Booking website that anybody can Book events of famous bands,and also book event planing companies for wedding planing and management.Online Event Booking Software trusted by central government, local authorities and councils to sell event spaces and tickets. The many benefits of our events booking system include reduced administration time and improved customer experience – we offer virtual queuing for traffic spikes.</p>
          <p class="lead text-muted"> <a href="contact" class="text-muted"> 
                      <u>Learn more</u></a>
          </p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="../../../assets/images/2.jpg" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>
  <!-- font-italic text-muted mb-4 -->
  <div class="">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Book DJ party</h2>
          <p class="m" >Find your next DJ in a simpler, cheaper, and more secure way. Cueup simplifies every aspect of booking a DJ compared to the traditional booking process.</p><a href="dj" class="btn btn-light px-4 rounded-pill shadow-sm">Learn More</a>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="../../../assets/images/7.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="../../../assets/images/6.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Book music shows</h2>
          <p class="m">Whether you’re looking for famous bands or musicians from the past or that are current hits we can help you book them.  We specialize in booking famous bands and musicians from 3 main genres – Country, Pop and Rock, but we can book nearly any musical artist you may be interested in.</p><a href="music" class="btn btn-light px-4 rounded-pill shadow-sm">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="display-4 font-weight-light">Our team</h2>
          <!-- <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
        </div>
      </div>
   
     
      <ul class="cards">
        <li>
          <a href="" class="card">
            <img src="../../../assets/images/manager2.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                <img class="card__thumb" src="../../../assets/images/manager2.jpg" alt="" />
                <div class="card__header-text">
                  <h4 class="card__title">Jessica Susan</h4>            
                  <span class="card__status"></span>
                </div>
              </div>
              <p class="card__description"></p>
            </div>
          </a>      
        </li>
        
        <li>
          <a href="" class="card">
            <img src="../../../assets/images/manager1.webp" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                <img class="card__thumb" src="../../../assets/images/manager1.webp" alt="" />
                <div class="card__header-text">
                  <h6 class="card__title">John Parker</h6>
                  <span class="card__tagline"></span>            
                  <span class="card__status"></span>
                </div>
              </div>
              <p class="card__description"></p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card">
            <img src="../../../assets/images/manager.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                <img class="card__thumb" src="../../../assets/images/manager.jpg" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">James paul</h3>
                  <span class="card__tagline"></span>            
                  <span class="card__status"></span>
                </div>
              </div>
              <p class="card__description"></p>
            </div>
          </a>
        </li>
        <!-- <li>
          <a href="" class="card">
            <img src="https://i.imgur.com/2DhmtJ4.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">kim Cattrall</h3>
                  <span class="card__status">3 hours ago</span>
                </div>          
              </div>
              <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
            </div>
          </a> -->
           
      </ul>

      </div>
    </div>
    
  
  