

<div class="container">
    <div class="row">
        <div class="col-md-7"><br>
<h1><u>{{single[0].name1}}</u></h1><br>

<h6>{{single[0].desc4}}</h6>

<a >
    <!-- <button type="button" class="btn btn-primary btn-lg ms-2">Back</button> -->
</a>
</div>
<div class="col"><br><br><br>
    <img src="../../../assets/images/{{single[0].Image4}}" class="d-block w-100" height="400px" width="300px">
    <!-- <img src="./images/ott.jpg" class="d-block w-100"  alt="" height="400px" > -->
    </div>
    <!-- <button type="button" class="btn btn-primary btn-lg ms-2"><a href="login">login</a></button>  -->
</div>
<br><br>
<div class="c">
<button type="button" class="b"><a href="booking" >Continue Booking</a></button> 
</div>
</div>















